
*{
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

span{
	font-family: 'Gloria Hallelujah', cursive;
}

body{
	background-image: url("../img/palta.jpg");
	background-size: 25vh;
	padding: 25px;
}
nav{
	padding: 25px;
	margin: 10px;
}

.titulo{
	background-image:radial-gradient(#9F6ED0,#D6C1FA);
	padding: 25px;
	border: 4px solid;
	margin: 15px;
	width: 95%;
}



.subtitulo{
	font-weight: bold;
	background-color: #F3ED5A;
	padding: 5px;
	margin: 15px;
	border-color: black;
	border:2px solid;
	
}

.carousel-indicators{
	height: 100%;
}
img{
 display: block;
 margin: 0px auto;
}

footer{
	background-image:linear-gradient(pink, #E78DFD);
	min-height: 100px;
	padding: 15px;
	border: 3px solid;
	margin:10px;
	width: 98%;
	display:inline-block;
	justify-content: stretch;
}

#contenedor-formulario{
	margin: 50px;
	padding: 25px;
	position: absolute;
	top: 30%;
	left: 50%;
	border-radius: 5px;
	max-width: 600px; 
}

footer p{
	text-align: center;
	padding: 5px;
}

